{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
    {%if current_user.is_authenticated %}
    <div class="container">
        <h1>Список задач</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Дата создания</th>
                    <th>Дата окончания</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td><a href="/task/{{task.id}}">{{ task.name }}</a></td>
                        <td>{{ task.desc }}</td>
                        <td>{{ task.created_at.strftime('%d.%m.%Y %H:%M') }}
                        <td>{{ task.end_date.strftime('%d.%m.%Y %H:%M') }}</td>
                        <td><a href="/remove_task/{{task.id}}">Удалить</a></td>
                    </tr>
                {% endfor %}
                <form method="POST" action="{{ url_for('add_task') }}">
                    <tr>
                        <td><input type="text" name="name" value="Новая задача"/></td>
                        <td><input type="text" name="desc" value="Описание задачи"/></td>
                        <td><input type="datetime-local" name="created_at" value="{{ start.strftime('%Y-%m-%dT%H:%M') }}"/></td>
                        <td><input type="datetime-local" name="end_date" value="{{ end.strftime('%Y-%m-%dT%H:%M') }}"/></td>
                        <td><button type="submit">Добавить</button></td>
                    </tr>
                </form>
            </tbody>
        </table>

    </div>
    {% endif %}
{% endblock %}
