{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
    <div class="container">
        <h2>Описание товара</h2>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope=col"">Параметры продукта</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Название</td>
                        <td>{{ product.name }}</td>
                    </tr>
                    <tr>
                        <td>Описание</td>
                        <td>{{ product.desc }}</td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td>{{ product.price }}</td>
                    </tr>
                    <tr>
                        <td>Количество на складе</td>
                        <td>{{ product.stock }}</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <h2>Отзывы о товаре ({{ product.avg_rate | round(1, 'floor') }})</h2>
        <ul class="list-group list-group-flush">
            {% for review in reviews %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <p>
                        {{ review.user.name }} <p>оставил отзыв : {{ review.updated_at.strftime('%d.%m.%Y %H:%M') }}</p>
                        </p>
                    </div>
                    <div class="col"> <cite>{{ review.text }}</cite></div>
                    <div class="col"> {{ review.rate }} </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% if current_user.is_authenticated %}
            <form method="POST">
                <div class="mb-3">
                    <label for="newReview" class="form-label">Оставьте ваш отзыв:</label>
                    <textarea name="review_text" class="form-control" id="newReview" rows="3"></textarea>
                </div>

                <select name="review_rate" class="form-select mb-3">
                    <option value="1">Очень плохо</option>
                    <option value="2">Плохо</option>
                    <option value="3" selected>Удовлетворительно</option>
                    <option value="4">Хорошо</option>
                    <option value="5">Отлично</option>
                </select>

                <button class="btn btn-primary w-80 py-2" type="submit">Отправить</button>
            </form>
        {% endif %}
    </div>
{% endblock %}